body,
html {
  min-height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 4;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  .hamburger {
    display: none;
    border: 0;
    cursor: pointer;
    margin-right: 1rem;
    &-item {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: #101010;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  &-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 2rem;
  }
  &-list {
    font-size: 1.5rem;
    margin: 0 5rem;
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
  }
  &-link,
  &-checkout {
    cursor: pointer;
    padding: 0.5rem;
    transition: 200ms ease-in transform;
    &:hover {
      transform: scale(1.15);
    }
  }
  &-checkout {
    cursor: pointer;
    font-size: 2rem;
    padding: 0;
    transform: scale(1.3);
    transition: 200ms ease-in transform;
    height: 40px;
    width: 40px;
    position: relative;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #b1b1b1;
      border-radius: 100%;
      position: absolute;
      height: 45px;
      width: 45px;
    }
    &-amount {
      position: absolute;
      bottom: -15px;
      left: -10px;
      width: 20px;
      height: 20px;
      padding: 0.8rem;
      background-color: orangered;
      border-radius: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: bold;
    }
    &:hover {
      transform: scale(1.5);
    }
  }
  @media screen and (max-width: 485px) {
    position: static;
    flex-wrap: wrap;
    gap: 0;
    &.active {
      height: 180px;
      padding-bottom: 1rem;
      .navbar-list {
        display: flex;
        margin: 0;
      }
    }
    .navbar-list {
      display: none;
      width: 100%;
      padding: 0;
      font-size: 1rem;
      position: absolute;
      top: 13%;
      .navbar-checkout {
        transform: scale(1);
        position: relative;
        right: 15px;
      }
      li {
        padding: 0;
      }
    }
    .hamburger {
      display: block;
    }
  }
}

@keyframes textslide {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-300%);
  }
}

.home {
  width: 100%;
  height: 100vh;
  background: url('../logos/blobs.svg');
  background-size: 100% 100%;
  display: flex;
  .shop-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
  }
  .messages {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 450px;
    max-height: 75px;
    min-width: 250px;
    min-height: 75px;
    background-color: #ed1c24;
    color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
  }
  .message-container {
    width: 35%;
    height: 1.5rem;
    .shop-message-list {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0.65rem;
      font-size: 1.5rem;
      font-weight: bold;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      list-style-type: none;
      overflow: hidden;
      li {
        animation: textslide infinite 10s;
      }
    }
  }
  @media screen and (max-width: 485px) {
    flex-direction: column;
    .messages {
      height: 50%;
    }
    .shop-quote {
      font-size: 2.5rem;
      padding: 0 0 1rem 0;
      margin: 1rem 0 0 0;
    }
    .message-container {
      width: 80%;
    }
  }
}

.products {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  height: 100%;
  margin: 8.5rem auto;
  .product-item-card {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    .product-item-image-container {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      transition: 200ms ease-in transform;
      &:hover {
        transform: scale(1.1);
      }
      .product-item-image {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .product-item-title {
      height: 14%;
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      color: #505050;
      margin: 0;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
    .product-item-price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 10%;
      width: 100%;
      font-weight: bold;
    }
    .cart-add-btn {
      font-weight: bold;
      height: 10%;
      width: 100%;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: #ffdee9;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  @media screen and (max-width: 485px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8.5rem;
  margin-bottom: 5rem;
  gap: 1rem;
  @media screen and (max-width: 485px) {
    margin-top: 3rem;
  }
  .cart-item {
    width: 500px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: 200ms ease-in-out all;
    @media screen and (max-width: 485px) {
      width: 80%;
      height: 40%;
      p,
      button {
        padding: 0;
        margin: 0;
      }
    }
    &-image-container {
      min-height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart-item-image {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &-details {
      padding: 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      &-price,
      &-title {
        font-weight: bold;
      }
      @media screen and (max-width: 485px) {
        padding: 0;
      }
    }
    &-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-top: auto;
      .cart-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        outline: none;
        border: none;
        transform: scale(1.3);
        transition: 200ms ease-in-out transform;
        margin-bottom: 0.5rem;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
    .delete {
      font-weight: bold;
      padding: 0.25rem;
      width: 100%;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: #ffdee9;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  &-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    width: 50%;
    height: 10%;
    @media screen and (max-width: 485px) {
      width: 80%;
    }
  }
  &-info {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 40%;
    max-width: 430px;
    height: 20%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    p {
      margin: 0;
      padding: 0;
    }
    @media screen and (max-width: 485px) {
      width: 80%;
      height: 25%;
      margin-top: 1.5rem;
    }
  }
  @media screen and (max-width: 485px) {
    margin-top: 2rem;
    justify-content: start;
  }
}

footer {
  height: 50px;
  width: 100%;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  background-color: #8ec3b0;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.15);
  gap: 3rem;
  a {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    img {
      height: 70%;
    }
    #git-logo {
      transition: 300ms ease-in;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  #git-link {
    @media screen and (max-width: 485px) {
      position: absolute;
      left: 0;
      margin: 0 1rem;
    }
  }
  #fake-api-link {
    text-decoration: none;
    position: absolute;
    margin: 0 1rem;
    right: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
